
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Nhà đất 24h</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
    
    {% block cssblock %}
    
    {% endblock cssblock %}
    </head>
    
    <body>
    {% include "homepage/header.html" %}
   
    
    {% block content %}
    
    {% endblock content %}

    {% include "homepage/footer.html" %}


    {% block jsblock %}
    
    {% endblock jsblock %}
    </body>
    </html>