  {% block cssblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    {% endblock cssblock %}
<!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="header1">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="" class="logo">Nhà Đất<em> 24h</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="{% url 'index' %}" >Home</a></li>
                            <li><a href="{% url 'timkiem' %}">Tìm Kiếm</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                              
                                <div class="dropdown-menu">
                                    {% if user.DoesNotExist%}
                                        <a href="{% url 'daluu' username=user.username  %}"  class="dropdown-item" href="">Đã lưu</a>
                                    {% endif %} 
                                    
                                </div>
                            </li>
                               
                        
                            {% if user.DoesNotExist%}
                                
                                <ul><li class="fas fa-user"></li><a href="">{{user.username}}</a></ul>
                                <li><a href="{% url 'dangxuat' %}">Đăng xuất</a></li>  
                            {%else%}
                                <li><a href="{% url 'login' %}">Đăng nhập</a></li> 
                            {% endif %} 
                        </ul>
                            
                    
                            
                             
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    